data-cloud-error-handling/force-app/main/default/flows/Data_Cloud_Purge_Failure_Logs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_all_records_to_a_collection</name>
        <label>Assign all records to a collection</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>allRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_old_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Count</name>
        <label>Record Count</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>CountFilteredRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_old_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_to_delete</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_old_records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter old records</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1.Failure_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>dateFilter</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Record_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Records_to_delete</name>
        <label>Records to delete?</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountFilteredRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Logs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Delete Data Cloud Failure Log records at a given point in time as specified in a Custom Label.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateFilter</name>
        <dataType>Date</dataType>
        <expression>TODAY()-VALUE({!$Label.Data_Cloud_Purge_Failure_Logs})</expression>
    </formulas>
    <interviewLabel>Data Cloud: Purge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud: Purge Failure Logs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Old_Logs</name>
        <label>Delete Old Logs</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputReference>Filter_old_records</inputReference>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_all_records_to_a_collection</targetReference>
        </connector>
        <object>Data_Cloud_Failure__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-10-18</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Data_Cloud_Failure__c</objectType>
    </variables>
    <variables>
        <name>CountFilteredRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Data_Cloud_Failure__c</objectType>
    </variables>
</Flow>
