data-cloud-error-handling/force-app/main/default/flows/Data_Cloud_Failure_Notifications_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>NOTE: Salesforce is limited to sending 5000 emails per day. Consider other processes and where emails are being delivered before using this mode of notification delivery.</description>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>402</locationX>
        <locationY>2522</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Get_Notification_Settings.Notification_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Get_Notification_Settings.Notification_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_Notification_Settings.Notification_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_Notification_Settings.Notification_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Add the &quot;Assignee Id&quot; (userId) to the Recipient Id collection for sending out the notification.</description>
        <name>Add_to_Recipient_Collection</name>
        <label>Add to Recipient Collection</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Permission_Set_Assignments.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Permission_Set_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Email_Address_Collection</name>
        <label>Build Email Address Collection</label>
        <locationX>490</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>emailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Members</name>
        <label>Count of Members</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>CountMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Users_Assigned_Data_Cloud_Permission_Set</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_of_Users_Assigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Previous_Failures</name>
        <label>Count of Previous Failures</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>CountFailures</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Failures</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notification_already_sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the count of the users assigned the specified permission set.</description>
        <name>Check_No_of_Users_Assigned</name>
        <label>Check No of Users Assigned</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Permission_Set_Assignments</targetReference>
            </connector>
            <label>Greater Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Options are to send one error for the day &quot;First Error&quot; or send regardless &quot;All Errors&quot;. First Error stops repeated notifications each time the specified Data Cloud object/record refreshes. For example, if a Data Stream is set to refresh every few minutes. All Errors sends a notification regardless of what has already been sent for the day.</description>
        <name>Check_Notification_Frequency</name>
        <label>Check Notification Frequency</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Errors</defaultConnectorLabel>
        <rules>
            <name>First_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Settings.Notification_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Failures</targetReference>
            </connector>
            <label>First Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_already_sent</name>
        <label>Notification already sent?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountFailures</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_Type</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send a notification via the in-app notification bell, or via an email. NOTE: Salesforce is limited to sending 5000 emails per day. Consider other processes and where emails are being delivered before using this mode of notification delivery.</description>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>358</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>No Notification Type Set</defaultConnectorLabel>
        <rules>
            <name>In_App</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Settings.Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification Bell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>In-App</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Settings.Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users_by_Id</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that notifications are enabled and there is a permission set specified in the custom metadata for the given Data Cloud object type and record name.</description>
        <name>Notifications_Enabled</name>
        <label>Notifications Enabled?</label>
        <locationX>919</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Settings.Enable_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Notification_Settings.Permission_Set_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called by a Data Cloud record triggered flow to send a notification to users about failures in Data Cloud.</description>
    <environments>Default</environments>
    <interviewLabel>Data Cloud: Failure Notifications Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Cloud: Failure Notifications Sub Flow</label>
    <loops>
        <name>Loop_over_Permission_Set_Assignments</name>
        <label>Loop over Permission Set Assignments</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Users_Assigned_Data_Cloud_Permission_Set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Recipient_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Notification_Frequency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Users</name>
        <label>Loop over Users</label>
        <locationX>402</locationX>
        <locationY>2222</locationY>
        <collectionReference>Get_Users_by_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Email_Address_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a failure log in a custom object so that the flow can track whether there has been previous errors for the given Data Cloud object type/record name. It isn&apos;t possible for a Flow to monitor the Refresh History tab to look at previous errors for a given period as it is an event.</description>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Count_of_Previous_Failures</targetReference>
        </connector>
        <inputAssignments>
            <field>Failure_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!recordType}: {!recordName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Name__c</field>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Type__c</field>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>recordStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Data_Cloud_Failure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get previous failures for the given day.</description>
        <name>Get_Failures</name>
        <label>Get Failures</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Log_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Failure_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Data_Cloud_Failure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get custom metadata record that contain settings for the Data Cloud object type and record that triggered this flow.</description>
        <name>Get_Notification_Settings</name>
        <label>Get Notification Settings</label>
        <locationX>919</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notifications_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Cloud_Record_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Cloud_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Data_Cloud_Notification_Feature__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification type by name, which returns an Id needed for sending a notification.</description>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customNotificationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Permission Set Id for the name specified in the custom metadata settings.</description>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_Assigned_Data_Cloud_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Notification_Settings.Permission_Set_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get users that have the specified permission set from the custom metadata settings</description>
        <name>Get_Users_Assigned_Data_Cloud_Permission_Set</name>
        <label>Get Users Assigned Data Cloud Permission Set</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the users from the Recipient Id collection to get a list of email addresses to send a notification to.</description>
        <name>Get_Users_by_Id</name>
        <label>Get Users by Id</label>
        <locationX>402</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>793</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountFailures</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>customNotificationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Data_Cloud</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
